<div class="container" style="margin-top:20px;">
<div class="row">

	<main class="col-lg-12" style="background-color: #fffafa">
		<div class="row">
			<h5>注文履歴一覧</h5>
		</div>
		
		<div class="row">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>注文日</th>
						<th>配送先</th>
						<th>注文商品</th>
						<th>支払金額</th>
						<th>ステータス</th>
						<th>注文詳細</th>
					</tr>
				</thead>
				<tbody>
					<tr>						<!-- ここにeach文を挿入-->
						<th>2019/11/15</th>
						<th>
							<p>1500041</p>
							<p>東京都渋谷区</p>
							<p>山田花子</p>
						</th>
						<th>ショートケーキ</th>
						<th>1,111円</th>
						<th>入金済み</th>
						<th>
							<div class="btn btn-primary">表示する</div>
						</th>
					</tr>
					<tr>
						<th>2019/10/20</th>
						<th>
							<p>2440812</p>
							<p>神奈川県横浜市</p>
							<p>梅木匠</p>
						</th>
						<th>ショートケーキ</th>
						<th>1,111円</th>
						<th>発送済み</th>
						<th>
							<div class="btn btn-primary">表示する</div>
						</th>
					</tr>
				</tbody>
			</table>
		</div>
		
	</main>

</div>		<!-- rowの閉じタグ -->
</div>		<!-- containerの閉じタグ -->
