<div class="container">
  <div class="row">
    <div class="col-lg-12">
			<main style="background-color: #fffafa">
				<div class="row">
					<h5 class="title">注文履歴詳細</h5>
				</div>

				<div class="row">
					<div class="col-lg-5">
						注文情報
						<table class="table table-bordered">
							<tbody>
								<tr>
									<td>注文日</td>
									<td>2019/11/05</td>
								</tr>
								<tr>
									<td>配送先</td>
									<td>
										<p>1500041</p>
										<p>東京都渋谷区</p>
										<p>山田花子</p>
									</td>
								</tr>
								<tr>
									<td>支払方法</td>
									<td>銀行振込</td>
								</tr>
								<tr>
									<td>ステータス</td>
									<td>入金確認</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col-lg-2">
					</div>
					<div class="col-lg-5">
						請求情報
						<table class="table table-bordered">
							<tbody>
								<tr>
									<td>商品合計</td>
									<td>1,500</td>
								</tr>
								<tr>
									<td>配送料</td>
									<td>800</td>
								</tr>
								<tr>
									<td>ご請求額</td>
									<td>2,300</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-5">
						注文内容
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>商品</th>
									<th>単価（税込）</th>
									<th>個数</th>
									<th>小計</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>ショートケーキ</td>
									<td>500</td>
									<td>2</td>
									<td>1000</td>
								</tr>
								<tr>
									<td>ガトーショコラ</td>
									<td>500</td>
									<td>1</td>
									<td>500</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				
			</main>
		</div>
	</div>
</div>
