<% if admin_signed_in? %>
	<nav class="bar-left">
	   <%= link_to 'NaganoCake', admins_root_path %>
	</nav>
<% else %>
	<nav class="bar-left">
	   <%= link_to 'NaganoCake', root_path %>
	</nav>
<% end %>