<h1>顧客一覧</h1>
<table>
	<thead>
		<tr>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</tbody>
</table>