<h1>会員一覧</h1>
<table class="table">
	<thead>
		<tr>
			<th>会員ID</th>
			<th>氏名</th>
			<th>メールアドレス</th>
			<th>ステータス</th>
		</tr>
	</thead>
	<% @customers.each do |customer| %>
		<tbody>
			<tr>
				<!-- 会員ID -->
				<th><%= customer.id %></th>
				<!-- 氏名 -->
				<th><%= link_to customer.last_name+customer.first_name, admins_customer_path(customer) %></th>
				<!-- メールアドレス -->
				<th><%= customer.email %></th>
				<!-- 会員ステータス -->
				<th><%= customer.is_delete ? '有効' : '退会済' %></th>
			</tr>
		</tbody>
	<% end %>
</table>