<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3 class="title">商品編集</h3>

<!--==========⭐商品編集⭐︎==========-->

      <!--フォーム-->
      <%= render 'form', item: @item%>
    </div>
  </div>
</div>