<table>
	<thead>
		<tr>
			<th>ジャンル検索</th>
		</tr>
	</thead>

	<% genres.each do |genre| %>
		<tbody>
			<tr>
				<td><%= link_to genre.name, genres_path(genres_id: genre.id) %></td>
				<!-- ルーティングでas optionを使いました。remote:trueを使いたい -->
			</tr>
		</tbody>
	<% end %>


</table>
