<!-- 可能ならURLを新規発行するのではなく、Ajaxで処理したい -->

<div class="container" style="margin-top:20px;">
<div class="row">

	<nav class="col-md-2" style="background-color: #f0f8ff;">
		<%= render 'customers/items/genres', genres: @genres %>		<!-- ジャンル表示をパーシャル化　-->
	</nav>


	<main class="col-md-10" style="background-color: #f0f0f0">
		<div class="row">
			<h5><%= @items.name %>一覧(全<%= @items.count %>件)</h5>		<!-- countの記述が不安 -->
		</div>
		<%= render 'customers/items/list', items: @items %>		<!-- 商品表示をパーシャル化　-->
	</main>

</div>		<!-- rowの閉じタグ -->
</div>		<!-- containerの閉じタグ -->
