/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

body{
	margin: 0;
	padding: 0;
	min-height: 100vh;
}

.over:hover{
  opacity: 0.6;
}

.over-text:hover{
  color: #E95464;
}

.bar {
}

.bar-left a{
	text-decoration: none;
	color:#ffffff;
	font-size:15px;
	font-weight:800;
}

.bar-center p{
	margin:0;
	color:#ffffff;
	font-weight:400;
	font-size:13px;
}


.bar-right li{
	margin:0 10px;
	display: inline-block;
}

.bar-right a{
	color:#ffffff;
	text-decoration: none;
	font-size:13px
}


// paginate
.pagination{
  margin: auto;
  width: 30%;
  display: flex;
  justify-content: flex-start;
}
.pagination span{
  text-align: center;
}

/*ページネーション自体のデザイン*/
.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: #EA5363;     /*背景の色を変える*/
  border-radius: 50px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 50px;    /*角を丸くする*/
}


.main-visual {
  width: 96.5%;
  height: 300px;
  background-image: url(3567599.jpg);
  background-size: cover;
  background-position: left top;
  margin: 0 auto;

  display: flex;                /* 位置を中央寄せにしています */
  justify-content: center;
  align-items: center;

  }

.main-visual-text{
  display: inline-block;
  padding: 20px;
  background-color: #ffffff;
  opacity: 0.8;
}

.main-visual-text p{
  font-weight: 500;
  color: #000000;
  line-height: 15px;
}

  .flex {
  display: flex;
  }

  /*.flex > div{
  width: 25%;
  height: 300px;
  margin: 0 auto;
  background-color: #fff;
  }*/



  // 検索フォーム
  #form2{
    position: relative;
    margin-left: 240px;
    max-width: 300px;	
    margin-bottom: 40px;
    padding-top: 0px;
    margin-top: 5px;
    }

  #sbox2{
    height: 30px;
    padding: 0 10px; 
    position: absolute; 
    left: 0;
    top: 0; 
    border-radius: 1px;
    outline: 0;
    background: white;	
    border: none;
  }

  #sbtn2{
    height: 30px;
    position: absolute; 
    left: 150px;/*アイコン左右の位置調整*/
    top: 0;
    background: none;
    color: #666;
    border: none;
    font-size: 20px;/*アイコンサイズ*/
  }


  .title{
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 28px;
  }

  .login{
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 20px;
  }

  .mypg{
    margin-left: 12px;
    width: 100px;
    float: left;
  }

  .genre-form{
    background-color: #f7f7f7;
    padding-top: 10px;
    height: 600px;
  }

  .genre-form a{
    color: #000000;
  }

  .genre-form a:hover{
    color: #E95464;
    text-decoration: none;
  }

